@charset "UTF-8";
nav {background-color:#E3871F;}
.nav-link:hover {background-color:#A76417;}

.contents1 {min-height:250px;}
.contents2 {min-height:600px;} 
.real-time-reserved {background-color:#B1520F;}
.inquiry {background-color:#B1520F;}
.check {background-color: #CF6317;}
.reserve-check {color:#fff; font-size: 25px;}
.reservation-box {width:450px;}

.input-form {width:230px; height:30px; margin-left:10px;}